jobs:
  validate:
    docker:
    - auth:
        password: $DOCKER_PASSWORD
        username: $DOCKER_USERNAME
      environment:
      - TEST_RESULTS: /tmp/test-results
      image: trussworks/circleci:09fa4a2b997da890dcb8e590b19974688f23dee5
    steps:
    - checkout
    - restore_cache:
        keys:
        - pre-commit-dot-cache-{{ checksum ".pre-commit-config.yaml" }}
        - go-mod-sources-v1-{{ checksum "go.sum" }}-{{ checksum "scripts/check-go-version"
          }}
    - run:
        command: 'echo ''export PATH=${PATH}:~/go/bin'' >> $BASH_ENV

          source $BASH_ENV

          '
        name: Adding go binaries to $PATH
    - run: go get github.com/jstemmer/go-junit-report
    - run:
        command: pre-commit run --all-files
        name: Run pre-commit
    - save_cache:
        key: pre-commit-dot-cache-{{ checksum ".pre-commit-config.yaml" }}
        paths:
        - ~/.cache/pre-commit
    - save_cache:
        key: go-mod-sources-v1-{{ checksum "go.sum" }}-{{ checksum "scripts/check-go-version"
          }}
        paths:
        - ~/go/pkg/mod
    - store_test_results:
        path: /tmp/test-results/gotest
version: 2.1
workflows:
  validate:
    jobs:
    - validate:
        context:
        - org-global
  version: 2.1
